body{
    background-color: rgb(47, 46, 59);
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
}

.calculator{
    background-color: rgb(37, 38, 43);
    width: 80%;
    height: 80%;

    max-width: 500px;

    display: flex;
    flex-direction: column;
}

.display{
    height: 20%;

    background-color: rgb(37, 38, 43);
    margin: 10px;
    padding: 0px;
    font-size: 4em;

    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.pad{
    height: 80%;
    padding: 10px;

    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(5, 1fr) */
}

.pad__number, .pad__symbol{
    font-size: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
}


.pad__symbol, .pad__cle{
    background-color: rgb(32, 32, 36);
}

.pad__number, .pad__symbol--decimal{
    background-color: rgb(20, 20, 20);
}

.pad__symbol--equal{
    background-color: rgb(124, 106, 28);
}

[class^=pad__]:hover{
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}

.pad__symbol--equal:hover{
    background-color: rgb(234, 194, 12);
}

[class^=pad__]:active{
    background-color:  rgb(123, 123, 123);
}

.pad__symbol--equal:active{
    background-color: rgb(255, 211, 8);
}

.pad__number--9{
    grid-column: 3/4;
    grid-row: 2/3;
}

.pad__number--8{
    grid-column: 2/3;
    grid-row: 2/3;
}

.pad__number--7{
    grid-column: 1/2;
    grid-row: 2/3;
}

.pad__number--6{
    grid-column: 3/4;
    grid-row: 3/4;
}

.pad__number--5{
    grid-column: 2/3;
    grid-row: 3/4;
}

.pad__number--4{
    grid-column: 1/2;
    grid-row: 3/4;
}

.pad__number--3{
    grid-column: 3/4;
    grid-row: 4/5;
}

.pad__number--2{
    grid-column: 2/3;
    grid-row: 4/5;
}

.pad__number--1{
    grid-column: 1/2;
    grid-row: 4/5;
}

.pad__number--0{
    grid-column: 1/3;
    grid-row: 5/6;
}

.pad__symbol--sum{
    grid-column: 4/5;
    grid-row: 2/3;
}

.pad__symbol--res{
    grid-column: 4/5;
    grid-row: 1/2;
}

.pad__symbol--mul{
    grid-column: 3/4;
    grid-row: 1/2;
}

.pad__symbol--div{
    grid-column: 2/3;
    grid-row: 1/2;
}

.pad__symbol--clear{
    grid-column: 1/2;
    grid-row: 1/2;
}

.pad__symbol--equal{
    grid-column: 4/5;
    grid-row: 3/6;
}

.pad__symbol--decimal{
    grid-column: 3/4;
    grid-row: 5/6;
}

